#Ignorar archivos de prueba
Pruebas_1.py

#Ignorar archivos que no son necesarios para la ejecucion
*.zip
*.pyc
*.csv

#Ignorar cache por seguridad
__pycache__/
#Ignorar Entorno
BotEnv/

#Ignorar archivos de configuracion
Credenciales.py

#Ignorar archivos de logs
*.log

#Ignorar recibos de transacciones en data
data/*

#Ignore build project info files
*.egg-info/
.vscode/