#Ignorar el archivo de credenciales
Credenciales.py
#Ignorar archivos de prueba
Pruebas_1.py

#Ignorar archivos que no son necesarios para la ejecucion
*.zip
*.pyc
*.csv

#Ignorar cache por seguridad
__pycache__/
#Ignorar Entorno
BotEnv/
#Ignorar directorios de datos
Aperturas/
Cerradas/
